.Options {
  font-size: medium;
}

.Options > h2 {
  text-align: center;
  margin-bottom: 0em;
  margin-top: 0em;
  padding-bottom: 0em;
}

.Options > p {
  text-indent: 1em;
  margin-bottom: 0.5em;
  margin-right: 1rem;
  margin-left: 1rem;
}

.Options-table {
  scroll-behavior: auto;
  font-size: medium;
  width: 100%;
}

input, select {
  margin-right: 1rem;
  width: 10rem;
  float: right;
}

input[type="checkbox"] {
  margin-right: 5rem;
}

label {
  margin-left: 1rem;
}

.Options-measure-unit {
  border: 1px solid #2b2f38;
  background-color: #2b2f38;
  border-radius: 3px;
  margin-top: 5px;
}

.Measure-unit-buttons {
  font-size: 12px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 3rem;
}
